<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Nova Movimentação</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                </div>
                <div class="row">
                    <div class="col text-right mt-4">
                        <button class="btn btn-secondary">Registrar movimentação</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>